.portfolio-modal.modal.fade#portfolio-modal-2(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row.justify-content-center
          .col-lg-8
            .modal-body
              //  Project Details Go Here
              h2 开放：磨铁 IP 大会
              p.item-intro.text-muted “开放：磨铁 IP 大会”邀请函 H5，建议在手机上观看。
              a.img-container(href='http://qiniu.meathill.com/motie/' target='_blank')
                img.img-fluid.d-block.mx-auto(src=require('../img/portfolio/motie.jpg'), alt='开放：磨铁 IP 大会')
              p
                | 比较简单的 H5，因为第二次做，所以花了大量时间在提取公共基础库上。
                br
                | 以后可以更快完成类似的项目了！
                br
                | 设计开发约4天。

              ul.list-inline
                li 日期：2017-07
                li 客户：某文化集团
                li 分类：H5
              p
                a.btn.btn-info(href='http://qiniu.meathill.com/motie/' target='_blank')
                  i.fa.fa-external-link
                  |  去看看

                button.btn.btn-primary.ml-2(data-dismiss='modal' type='button')
                  i.fa.fa-times
                  |  关闭
