.portfolio-modal.modal.fade#portfolio-modal-1(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl.

      .container
        .row.justify-content-center
          .col-lg-8
            .modal-body
              //  Project Details Go Here
              h2 《悟空传》发行通知
              p.item-intro.text-muted 《悟空传》发行通知 H5，建议在手机上观看。
              a.img-container(href='http://qiniu.meathill.com/wukong/' target='_blank')
                img.img-fluid.d-block.mx-auto(src=require('../img/portfolio/pw.jpg'), alt='《悟空传》发行通知')
              p
                | 典型的重效果轻交互型 H5，技术难点在于提升首屏打开速度和内容加载速度。
                br
                | 设计难点则在于如何满足客户“酷炫”的要求。
                br
                | 上线后效果很好，仅通过微信传播，达到 15k 访问量。
                br
                | 设计开发约4天。

              ul.list-inline
                li 日期：2017-06
                li 客户：某发行公司
                li 分类：H5
              p
                a.btn.btn-info(href='http://qiniu.meathill.com/wukong/' target='_blank')
                  i.fa.fa-external-link
                  |  看看去

                button.btn.btn-primary.ml-2(data-dismiss='modal' type='button')
                  i.fa.fa-times
                  |  关闭
