// Global styling for this template
html
  box-sizing border-box
  color #333
  font-size 14px
  touch-action manipulation
  -ms-touch-action manipulation

body
  font 1rem/1.5 $body-font
  font-weight 400
  -webkit-tap-highlight-color $theme-primary
  -webkit-overflow-scrolling touch

a
  color: $theme-primary;

  &:hover,
  &:focus,
  &:active,
  &.active
    color: darken($theme-primary, 10%)

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
        @include serif-font;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Highlight color customization
::-moz-selection {
    background: $theme-primary;
    text-shadow: none;
}

::selection {
    background: $theme-primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
