// Core variables and mixins
@import "../node_modules/normalize.css/normalize.css"

@import "core/_variables";
@import "core/_global.styl";
@import "core/_mixins.style";
// Bootstrap Overrides
@import "bootstrap-overrides.scss";
// Global CSS
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";
